@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
input,
textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media screen and (min-width: 1900px) {
  html {
    font-size: 150%;
  }
}

@media screen and (min-width: 2200px) {
  html {
    font-size: 200%;
  }
}
