html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-weight: light;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(../public/fonts/OpenDyslexicAlta-Regular.otf);
  font-weight: 300;
}
@font-face {
  font-family: OpenDyslexic;
  src: url(../public/fonts/OpenDyslexicAlta-Bold.otf);
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 250ms ease;
}

.dark {
  color: white;
  background: #000;
}

.light{
  color: black;
  background: white;
}

.green{
  color: #001A23;
  background: #E8F1F2;  
}
.pink{
  color: #000;
  background: #fce5e5;
}

.pride{
  color: #000;
  background: linear-gradient(90deg, rgba(255,127,127,1) 0%, rgba(255,180,129,1) 25%, rgba(255,250,139,1) 50%, rgba(156,255,134,1) 76%, rgba(137,216,255,1) 100%);
}

/*
css-rivkbn
css-1tdu655
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */
h1{
  font-size: clamp(2.5rem, 5vw, 5rem);
}
    
h2{
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-family: 'Alegreya', serif;
}
